
.parent-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1px splid red;
  margin: 0 auto;
  padding: 24px;
}
.container > form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:whitesmoke;
  border: 1px solid black;
  border-radius: 20px;
  padding: 32px;
}
.container > form > h3{
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 40px;
}
.container > form > input{
  padding: 11px;
  border: 1px solid black;
  outline: none;
  border-radius: 20px;
  margin-top: 50px;
}
.container > form > div > button {
  margin-top: 1em;
}
 
